<!DOCTYPE html>
<html lang="en">

<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
  <div class="row text-center">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <div class="ratio img-responsive img-circle" style="background-image: url('https://instagram.fsin1-1.fna.fbcdn.net/vp/fa1783fd68e3e7dcacc3df40eee715e2/5DE9B3D1/t51.2885-19/s320x320/49813309_780494798974961_464046533155749888_n.jpg?_nc_ht=instagram.fsin1-1.fna.fbcdn.net');"></div>
    </div>
      <div class="col-sm-5"></div>
  </div>
    <div class="col-sm-12">
      <h2>//</h2>
      <p>Search for contacts in HubSpot</p>
      <div class="contactsearch">
 <form action="/about" method="post">
  <input type="text" name="searchinput">
  <input type="submit" name="search" value="Search for contact">
 </form>
</div>

    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>
