<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <div class="wrapper">
 <div class="page-header section-dark" style="background-image: url('https://wallpaperaccess.com/full/126246.jpg')">
 <div class="content-center">
 <div class="container">
 <div class="title-brand">
 <h1 class="presentation-title">Paper Kit 2</h1>
 <div class="type">PRO</div>
 <div class="fog-low">
 <img src="assets/img/sections/fog-low.png" alt="">
 </div>
 <div class="fog-low right">
 <img src="assets/img/sections/fog-low.png" alt="">
 </div>
 </div>

 <h2 class="presentation-subtitle text-center">Make your mark with a premium Bootstrap 4 UI Kit! </h2>
 </div>
 </div>
 <h6 class="category category-absolute">Designed and coded by
 <a href="https://www.creative-tim.com" target="_blank">
 <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
 </a>
 </h6>
 </div>
</div>

  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>
